[submodule "third_party/aasdk"]
	path = third_party/aasdk
	url = https://github.com/opencardev/aasdk.git
[submodule "external/aasdk"]
	path = external/aasdk
	url = https://github.com/opencardev/aasdk.git
